.logout {
    position: fixed;
    bottom: 20px;
    right:  10px;
    width: 60px;
    height: 30px;
    color: rgba(255, 255, 255, 0.607);
    background-color: #00523F;
    border: none;
    border-radius: 8%;
}
.logout:hover {
    color: black;
    background-color: rgba(5, 137, 75, 0.607);
}