.logout {
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 60px;
    height: 30px;
    color: rgba(255, 255, 255, 0.607);
    background-color: rgba(0, 212, 255, 1);
    border: none;
    border-radius: 8%;
}

.logout:hover {
    background-color: rgba(9, 9, 121, 1);
}