<app-header (filterBoards)="onFilter($event)" (sortBoards)="onSort($event)"></app-header>
<div class="page-container">
  <div (click)="popupService.open()" (click)="choosePopupAdd()" class="popup-container">
    <p class="item-title"> + </p>
    <p>Add new</p>
  </div>
  <ul class="boards-container">
    <li *ngFor="let board of dashboardServise.boardList | sort:[sortValue, sortDesc] | filterBoard: term "
      class="board-item">
      <span class="delete cont" (click)="delete(board)">❌</span>
      <span class="text board-name" [routerLink]="['/board', board._id]">{{board.name}}<span class="details">Board
          details</span></span>
      <span class="text board-desc">{{board.description}}</span>
      <span class="text board-date">Creation date: {{board.createdAt | date: 'medium': 'GMT+3'}}</span>
      <span (click)="popupService.open()" (click)="choosePopupEdit(board)" class="edit cont">📝</span>
    </li>
  </ul>
</div>

<div *ngIf="popupService.isVisible$ | async" class="popup popup-all" >
  <app-popup *ngIf="popupButton" title="Edit board">
    <app-edit-board [board]="editboard"></app-edit-board>
  </app-popup>
  <app-popup *ngIf="!popupButton" title="Add board">
    <app-add-board></app-add-board>
  </app-popup>
</div>
