<app-header [title]="dashboardService.bordName" (filterBoards)="onFilter($event)" (sortBoards)="onSort($event)"
  [dellBtn]="true">
</app-header>

<div class="container">
  <div class="todos-container">
    <h2 class="todo-header">Todo</h2>
    <div class="todo-body firstList" [ngStyle]="{'background-color':firstColor}" cdkDropList
      [cdkDropListData]="todoService.todoList" (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="[secondList, thirdList]" #firstList="cdkDropList">
      <div class="todo todo-add-button" (click)="popupService.open()" (click)="choosePopupAdd()">
        <span>+</span>
      </div>
      <ul class="todo-items">
        <li cdkDrag class="todo todo-item"
          *ngFor="let todo of todoService.todoList | filterBoard:term | sort:[sortValue, sortDesc]">
          <app-todos-container [todo]="todo" (popupButtonSelected)="onEdit($event)"
            (commentsSelected)="onComments($event)"></app-todos-container>
        </li>
      </ul>
      <app-color-piker [id]="'firstColor'" (chooseColor)="onColorSelect($event)"></app-color-piker>
    </div>
  </div>
  <div class="todos-container">
    <h2 class="todo-header">In progress</h2>
    <div class="todo-body secondList" [ngStyle]="{'background-color':secondColor}" cdkDropList
      [cdkDropListData]="todoService.inProgressList" (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="[firstList, thirdList]" #secondList="cdkDropList">
      <div class="todo todo-add-button">
        <span> ↓ </span>
      </div>
      <ul class="todo-items">
        <li cdkDrag class="todo todo-item"
          *ngFor="let todo of todoService.inProgressList | filterBoard:term | sort:[sortValue, sortDesc]">
          <app-todos-container [todo]="todo" (popupButtonSelected)="onEdit($event)"
            (commentsSelected)="onComments($event)"></app-todos-container>
        </li>

      </ul>
      <app-color-piker [id]="'secondColor'" (chooseColor)="onColorSelect($event)"></app-color-piker>
    </div>
  </div>
  <div class="todos-container">
    <h2 class="todo-header">Done</h2>
    <div class="todo-body thirdList" [ngStyle]="{'background-color': thirdColor}" cdkDropList
      [cdkDropListData]="todoService.doneList" (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="[firstList, secondList]" #thirdList="cdkDropList">
      <div class="todo todo-add-button">
        <span> ↓ </span>
      </div>
      <ul class="todo-items">
        <li cdkDrag class="todo todo-item"
          *ngFor="let todo of todoService.doneList | filterBoard:term | sort:[sortValue, sortDesc]">

          <app-todos-container [todo]="todo" (popupButtonSelected)="onEdit($event)"
            (commentsSelected)="onComments($event)"></app-todos-container>
        </li>

      </ul>
      <app-color-piker [id]="'thirdColor'" (chooseColor)="onColorSelect($event)"></app-color-piker>
    </div>
  </div>
</div>


<div *ngIf="popupService.isVisible$ | async" class="popup popup-all" >

  <app-popup *ngIf="popupButton === 'comment'" title="Comments">
    <app-comment-modal [todo]="todo"></app-comment-modal>
  </app-popup>

  <app-popup *ngIf="popupButton === 'edit'" title="Edit todo">
    <app-add-edit-todo [isAdd]="false" [todo]="editTodo">
    </app-add-edit-todo>
  </app-popup>

  <app-popup *ngIf="popupButton === 'add' " title="Add todo">
    <app-add-edit-todo [isAdd]="true"></app-add-edit-todo>
  </app-popup>

</div>
