<header class="page-header">
  <div class="logo-name" routerLink="/dashboard">
    Dashboard
  </div>
  <div *ngIf="this.authService.auth$ |async  else elseBlock">
    Hello, <span class="text"> {{user | uppercase}} </span>
  </div>
  <ng-template #elseBlock>
    <ul class="nav-container">
      <li class="nav-list"><a 
          class="nav-link text"
          routerLink="/login"
          >
          Sign In
      </a></li>
      <li class="nav-list"><a 
          class="nav-link text"
          routerLink="/register"
          >
          Sign Up
      </a></li>            
  </ul>
  </ng-template>   
  
</header>
