.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-bottom: 20px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.logo-name {
    font-size: 32px;
    margin-left: 30px;
    min-height: 50px;
    min-width: 3vw;
    color: white;
    text-shadow: 3px 1px 5px black;
}

.logo-name:hover {
    color: rgba(0, 212, 255, 1);
    cursor: pointer;
}

.nav-container {
    display: flex;
    justify-content: space-around;
}

.nav-list {
    display: inline-block;
    margin: 0 20px;
    padding: 3px 5px;
    list-style: none;
}

.text {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    text-shadow: 3px 1px 5px black;
}

.nav-link:hover {
    color: rgba(0, 212, 255, 1);
    cursor: pointer;
}