.todo-text {
    display: inline-block;
    background-color: rgba(141, 141, 141, 0.285);
    padding: 15px 20px;
    width: 300px;
    font-size: 14px;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
}

.todo-text:hover .details {
    display: block;
}

.details {
    display: none;
    position: absolute;
    color: rgba(137, 5, 5, 0.607);
    font-size: 10px;
}

.todo-popup:hover {
    cursor: pointer;
}

.todo-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    top: 30px;
}

.todo-button:hover {
    color: black;
    cursor: pointer;
}

.del-button {
    right: 50px;
}

.edit-button {
    right: 70px;
}

.todo-popup {
    right: 30px;
}

.archive {
    text-decoration: line-through;
}