<app-header [title]="dashboardService.bordName" (filterBoards)="onFilter($event)" (sortBoards)="onSort($event)">
</app-header>
<div class="container">
  <div class="todos-container">
    <h2 class="todo-header">Todo</h2>
    <div class="todo-body firstList" cdkDropList [cdkDropListData]="todoService.todoList"
      (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[secondList, thirdList]" #firstList="cdkDropList">
      <div class="todo todo-add-button">
        <span (click)="popupService.open()" (click)="choosePopupAdd()">+</span>
      </div>
      <ul class="todo-items">
        <li (click)="archive(todo)" cdkDrag class="todo todo-item"
          *ngFor="let todo of todoService.todoList | filterBoard:term | sort:[sortValue, sortDesc]">
          <span [ngClass]="todo.archive ? 'todo-text archive' : 'todo-text'">{{todo.name}} <span class="details">Click
              to archive the task</span> </span>
          <span hidden>{{todo.createdAt}}</span>
          <span class="todo-button edit-button" (click)="popupService.open()"
            (click)="choosePopupEdit(todo)">edit</span>
          <span class="todo-button del-button" (click)="delete(todo)">x</span>
          
        </li>
      </ul>
      <div class="color-piker">
         Choose column color <input type="color" >
      </div>
     
    </div>
  </div>
  <div class="todos-container">
    <h2 class="todo-header">In progress</h2>
    <div class="todo-body secondList" cdkDropList [cdkDropListData]="todoService.inProgressList"
      (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[firstList, thirdList]" #secondList="cdkDropList">
      <div class="todo todo-add-button">
        <span>+</span>
      </div>
      <ul class="todo-items">
        <li (click)="archive(todo)" cdkDrag class="todo todo-item"
          *ngFor="let todo of todoService.inProgressList | filterBoard:term | sort:[sortValue, sortDesc]">
          <span [ngClass]="todo.archive ? 'todo-text archive' : 'todo-text'">{{todo.name}} <span class="details">Click
              to archive the task</span> </span>
          <span hidden>{{todo.createdAt}}</span>
          <span class="todo-button edit-button" (click)="popupService.open()"
            (click)="choosePopupEdit(todo)">edit</span>
          <span class="todo-button del-button" (click)="delete(todo)">x</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="todos-container">
    <h2 class="todo-header">Done</h2>
    <div class="todo-body thirdList" cdkDropList [cdkDropListData]="todoService.doneList"
      (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[firstList, secondList]" #thirdList="cdkDropList">
      <div class="todo todo-add-button">
        <span>+</span>
      </div>
      <ul class="todo-items">
        <li (click)="archive(todo)" cdkDrag class="todo todo-item"
          *ngFor="let todo of todoService.doneList | filterBoard:term | sort:[sortValue, sortDesc]">
          <span [ngClass]="todo.archive ? 'todo-text archive' : 'todo-text'">{{todo.name}} <span class="details">Click
              to archive the task</span> </span>
          <span hidden>{{todo.createdAt}}</span>
          <span class="todo-button edit-button" (click)="popupService.open()"
            (click)="choosePopupEdit(todo)">edit</span>
          <span class="todo-button del-button" (click)="delete(todo)">x</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="popupService.isVisible$ | async" class="popup popup-all">
  <app-popup *ngIf="popupButton" title="Edit todo">
    <app-add-todo [isAdd]="false" [todo]="editTodo">
    </app-add-todo>

  </app-popup>


  <app-popup *ngIf="!popupButton" title="Add todo">
    <app-add-todo [isAdd]="true"></app-add-todo>
  </app-popup>
</div>
