.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-bottom: 20px;
    background-color: rgb(206, 205, 205);
}
.toolbar-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 30px;
}
.logo-name {
    font-size: 32px;
    margin-left: 30px;
    min-height: 50px;
    min-width: 3vw;
}
.user-name {
    margin: 0 10px;
    color: rgb(137, 5, 5);
}
.logo-name:hover {
    color: rgb(137, 5, 5);
    cursor: pointer;
}
.tool-btn {
    margin: 5px 10px;
    padding: 8px 25px;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    background-color: rgba(128, 128, 128, 0.253);
    
}
.tool-btn:hover {
    color: rgb(137, 5, 5);
    box-shadow: 1px 2px 2px  gray;
}