.toolbar-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 30px;
}

input {
    outline: none;
}

.logo-name {
    font-size: 32px;
    margin-left: 30px;
    min-height: 30px;
    min-width: 10vw;
    color: rgba(206, 205, 205, 0.563);
}

.logo-name:hover {
    color: #FFC42A;
    cursor: pointer;
}

.tool-btn {
    margin: 5px 10px;
    padding: 8px 25px;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    background-color: rgba(128, 128, 128, 0.253);
    color: rgba(206, 205, 205, 0.563);
}

.tool-btn:hover {
    color: #FFC42A;
    box-shadow: 1px 2px 2px gray;
}