.popup-form {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
}
.popup-form-input {
    margin: 10px 0;
    width: 40vw;
    padding: 10px 15px;
    border-radius: 5px;
}
.popup-btn {
    margin: 0 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    font-weight: 600;    
}

.popup-btn:hover {
    color: rgb(137, 5, 5);
    box-shadow: 1px 2px 2px  gray;
}

.comments {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 3px;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.077);
}
.comment-date {
    margin-right: 10px;
}
.comment-count {
    margin: 10px;
}
.comment-color {
    font-weight: 500;
    color: rgb(137, 5, 5);
}
.comment-button:hover {
    cursor:pointer;
}

