<app-toolbar [title]="title" (filterBoards)="onFilter($event)" (sortBoards)="onSort($event)"
  [dellBtn]="true" (deleteBoard)="onDelete($event)"></app-toolbar>
  
<div class="container" cdkDropListGroup>
  <div *ngFor="let column of setColumns(); let i=index" class="todos-container">
    <h2 class="todo-header">{{column}}</h2>
    <div class="todo-body" [id]="i.toString()" [ngStyle]="{'background-color': colors[i]}" cdkDropList
      [cdkDropListData]="getTodos(i, this.todoService.listFiltered)" (cdkDropListDropped)="drop($event)">
      <div class="todo todo-add-button"*ngIf="i===0" (click)="popupService.open()" (click)="choosePopupAdd()">
        <span > + </span>
      </div>
      <div class="todo todo-add-button"*ngIf="i!==0">
        <span > ↓ </span>
      </div>
      <div class="todo todo-items">
        <div cdkDrag *ngFor="let todo of getTodos(i, this.todoService.listFiltered)" class="todo todo-item">
          <app-todos-container [todo]="todo" (popupButtonSelected)="onEdit($event)"
            (commentsSelected)="onComments($event)"></app-todos-container>
        </div>
      </div>
      <div *ngIf="!popupButton">
        <div *ngIf="spinnerService.isVisible$ |async ">
          <app-spinner></app-spinner>
        </div>
      </div>
      <app-color-piker [id]="column" (chooseColor)="onColorSelect($event)"></app-color-piker>
    </div>
  </div>
</div>


<div *ngIf="popupService.isVisible$ | async" class="popup popup-all">

  <app-popup *ngIf="popupButton === 'comment'" title="Comments">
    <app-comment-modal [todo]="todo"></app-comment-modal>
  </app-popup>

  <app-popup *ngIf="popupButton === 'edit'" title="Edit todo">
    <app-add-edit-todo [isAdd]="false" [todo]="editTodo">
    </app-add-edit-todo>
  </app-popup>

  <app-popup *ngIf="popupButton === 'add' " title="Add todo">
    <app-add-edit-todo [isAdd]="true"></app-add-edit-todo>
  </app-popup>

</div>
