<form class="popup-form" [formGroup]="form" (ngSubmit)="submit()">
    <input 
    class="popup-form-input" 
    type="text" 
    placeholder="Board Name"
    formControlName="name"
    appFocus>
    <p class="error-message"
    *ngIf="name.touched && name.errors?.required">Please, enter board name</p>
    <input 
    class="popup-form-input" 
    type="text"  
    placeholder="Board description"
    formControlName="description">
    <p class="error-message"
    *ngIf="description.touched && description.errors?.required">Please, enter board description</p>
    <button class="popup-btn" type="submit">Save</button>
</form>
