<form class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="card-content">
    <span class="card-title">{{header}}</span>
    <div class="input-field">
      <input formControlName="username"
        [ngClass]="username.invalid && username.touched ? 'form-input red' : 'form-input green'" id="username"
        type="text" placeholder="Username">
      <p class="error-message" *ngIf="username.invalid && username.touched">Please, enter user name</p>
    </div>
    <div *ngIf="emailRequired" class="input-field">
      <input formControlName="email" [ngClass]="email.invalid && email.touched ? 'form-input red' : 'form-input green'"
        id="email" type="email" placeholder="Email">
      <p class="error-message" *ngIf="email.errors?.email">Please, enter correct email</p>
    </div>
    <div class="input-field">
      <input formControlName="password"
        [ngClass]="password.invalid && password.touched ? 'form-input red' : 'form-input green'" id="password"
        type="password" placeholder="Password" required minlength="6">
      <p class="error-message" *ngIf="password.errors?.['minlength']">Please, enter user password. Min length is 6. Now
        is {{password.value.length}}</p>
    </div>
  </div>
  <div class="card-action">
    <button type="submit" class="btn" [disabled]="form.invalid">
      {{buttonName}}
    </button>
  </div>
</form>
