
.page-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.page-container:first-child {
    align-items: center;
}

.item-title {
    font-size: 30px;
    margin:5px;
    color: #000;
    text-decoration: none;
    
}
.popup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    background-color: gray;
    border-radius: 10px;
    margin: 70px 20px;
    font-size: 24px;
    cursor: pointer;
}
.boards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}
.board-item {
    width: 300px;
    height: 200px;  
    margin: 20px;
    list-style: none;
    background-color: rgb(206, 205, 205);
    position: relative;
    
}
.popup {    
    width: 100%;
    height: 100%;    
    top: 0;
    left: 0;
}
.popup-all {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
}


@media (min-width:800px) {
    .page-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
}
@media (min-width:1200px) {
    .page-container {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
}