.todo-text {
    display: inline-block;
    background-color: rgba(141, 141, 141, 0.285);
    padding: 15px 20px;
    width: 300px;
    font-size: 14px;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
}

.btn-img {
    width: 20px;
    height: 20px;
}

.todo-text:hover .details {
    display: block;
}

.details {
    display: none;
    position: absolute;
    color: rgba(137, 5, 5, 0.607);
    font-size: 10px;
}

.todo-popup:hover {
    cursor: pointer;
}

.todo-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    top: 30px;
}

.todo-button:hover {
    color: black;
    cursor: pointer;
}

.del-button {
    right: 50px;
}

.edit-button {
    right: 75px;
}

.todo-popup {
    right: 25px;
}

.archived {
    position: absolute;
    left: 20px;
    top: 0;
    font-size: 12px;
    background-color: rgba(137, 5, 5, 0.271);
    border: 1px solid rgba(128, 128, 128, 0.389);
    border-bottom: none;
    padding: 2px;
}